@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin rightAnimation {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease;
  &.visible {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin leftAnimation {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s ease;
  &.visible {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin bottomAnimation {
  transform: translate(-50%, calc(100% + 30px));
  // opacity: 0;
  transition: all 0.3s ease;
  &.visible {
    transform: translate(-50%,0);
    opacity: 1;
  }
}

@mixin topAnimation {
  transform: translateY(-100%);
  // opacity: 0;
  transition: all 0.3s ease;
  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}